<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="../images/favicon.ico"/>
    <title>Target Only : GetOffer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h3><-------------------------Cookies-------------------------></h3>
<pre id="cooks"></pre>
<h3><-------------------------VisitorState-------------------------></h3>
<pre id="visitorState"></pre>
<h3><-------------------------ServerState-------------------------></h3>
<pre id="content"></pre>
<h4>Total execution time: <span th:text="${executionTime}"></span></h4>
<script th:inline="javascript">

    /*<![CDATA[*/
    var product = /*[[${serverState}]]*/'default';
    document.getElementById("content").innerHTML = JSON.stringify(product, null, 2);
    document.getElementById("cooks").innerHTML = listCookies()

    window.targetGlobalSettings = {
        overrideMboxEdgeServer: true,
        serverState: product
    };

    /*<![CDATA[*/
    var visitorState = /*[[${visitorState}]]*/'default';
    document.getElementById("visitorState").innerHTML = JSON.stringify(visitorState, null, 2);

    function listCookies() {
        var theCookies = document.cookie.split(';');
        var aString = '';
        var cookNames = Object.seal(['mbox','AMCV_0DD934B85278256B0A490D44'])
        for (var i = 1; i <= theCookies.length; i++) {
            cook = theCookies[i - 1]
            for (var j = 0; j < cookNames.length; j++) {
                if (cook.trim().startsWith(cookNames[j])) {
                    aString += cook + "\n";
                }
            }
        }
        return aString;
    }
</script>
<script src="../../js/VisitorAPI.js"></script>
<script src="../../js/at_2.0.js"></script>
<script>
    Visitor.getInstance("[[${organizationId}]]", {serverState: visitorState});
</script>
<script src="../../js/AppMeasurement.js"></script>
<script>var s_code=s.t();if(s_code)document.write(s_code);</script>
</body>
</html>